$card-width: min(14vw, 8.2vh);
$card-stacking-factor: 2.3;

@function multiplyCardWidth($factors...) {
  $factorsProduct: 1;
  @each $factor in $factors {
    $factorsProduct: $factorsProduct * $factor;
  }
  @return calc(#{$card-width} * #{$factorsProduct});
}

$card-height: multiplyCardWidth(1.12);
$max-cards-of-type: 8;

.game {
  position: relative;
  background-color: #99d98c;
  height: 100vh;
}

@import './table.scss';
@import './cards.scss';
@import './players_deck.scss';
