$card-width: min(14vw, 8.2vh);
$card-stacking-factor: 2.3;

@function multiplyCardWidth($factors...) {
  $factorsProduct: 1;
  @each $factor in $factors {
    $factorsProduct: $factorsProduct * $factor;
  }
  @return calc(#{$card-width} * #{$factorsProduct});
}

$card-height: multiplyCardWidth(1.12);
$max-cards-of-type: 8;

// .html {
//   height: 100%;
// }

// .body {
//   height: 100%;
// }

.game {
  position: relative;
  background-color: #99d98c;
  height: 100vh;
  overflow-x: hidden;
}
.game__try-again-btn {
  width: multiplyCardWidth(0.35);
  height: multiplyCardWidth(0.35);
  border-radius: 50%;
  border: 1px solid rgba(37, 36, 36, 0.335);
  align-self: center;
  background-color: aqua;
  position: absolute;
  top: 2%;
  left: 2%;
}

@import './table.scss';
@import './cards.scss';
@import './players_deck.scss';
