.game__table {
  $gap-width: multiplyCardWidth(0.1);
  padding-top: multiplyCardWidth(0.2);
  --cards-spots-per-row: 4;
  display: grid;
  grid-template-columns: repeat(
    calc(var(--cards-spots-per-row) + 1),
    $card-width
  );
  gap: $gap-width multiplyCardWidth(0.1);
  margin-left: calc(#{$card-width} + #{$gap-width});
  justify-content: center;
  //z-index: 200;
}

.game__table__card-spot {
  width: $card-width;
  height: $card-height;
  border: rgba(245, 245, 220, 0.596) solid multiplyCardWidth(0.01); //rgba(245, 245, 220, 0.52)
  border-radius: 10%;
  //z-index: 200;
}

.game__table__move-result-spot {
  width: $card-width;
  height: $card-height;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  // border: rgba(245, 245, 220, 0.685) solid 1px;

  align-items: center;
  // align-items: center;
}

.token {
  width: multiplyCardWidth(0.35);
  height: multiplyCardWidth(0.35);
  border-radius: 50%;
  border: 1px solid rgba(37, 36, 36, 0.335);
  align-self: center;
}
.game__table__move-result-spot__right-card-in-right-place-token {
  @extend .token;
  background: #f00000;
}
.game__table__move-result-spot__right-card-in-wrong-place-token {
  @extend .token;
  background: #f1e204;
}
.game__table__move-result-spot__all-cards-wrong-token {
  @extend .token;
  border: none;
  font-size: multiplyCardWidth(0.22);
}

.game__table__move-result-spot__submit-btn {
  //border: rgba(245, 245, 220, 0.685) solid 2px;
  border-radius: 18%;
  height: fit-content;
  //padding: 2.5%;
  padding: 0 4.5%;
  background-color: #6247aa;
  color: #dec9e9;
  cursor: pointer;
  font-size:  multiplyCardWidth(0.22);
}
